body {
    background: url(planetas.jpg);
    background-size: cover;
    background-repeat: attachement;
    background-attachment: fixed;

}

.menu {
    color: rgb(218, 16, 16);

}

.cabecalho { 
align-items: center;
background-color: rgb(1, 1, 2); 
display: flex;
justify-content: space-between;
padding-left: 2rem;
padding-right: 2rem;

}

.sla{
    text-align: top;
    color:rgb(255, 255, 255);
          
      }
      
 .black-hole {
      background-color: rgb(255, 255, 255,0.5);
  }
  
 
      .andromeda{
          background-color: rgb(225, 255, 255,0.5);
      }


      .space-time {
        
        background-color: rgb(255, 255, 255,0.5);

      }
h2{

text-decoration: wavy;


}

h3{
text-align: top;
text-align: center;

}

h1{

 text-align: center;   

}

h4{

    text-align: center;   
}

.pecalho { 
    align-items: center;
    background-color: rgb(1, 1, 2); 
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;




    